{erl_opts, [debug_info]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.12.0"}}}
]}.

{relx, [
  {release, {hello_world, "0.1.0"}, [hello_world, cowboy, sasl]},
  {mode, dev},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}
]}.

{profiles, [
  {prod, [
    {relx, [
      {mode, prod}
    ]}
  ]}
]}.
